* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(imag/imagemF1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;              
  max-width: 1000px;
  height: 600px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  background-color: white; /
  
}


.login {
  width: 50%;
  padding: 40px;
  background-color: rgb(255, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  
}

.login form {
  width: 100%;
}

.titulo {
  color: green;
  font-size: 50px;
  text-align: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.email,
.senha {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.email img,
.senha img {
  width: 24px;
  margin-right: 10px;
  
}

.email input,
.senha input {
  background-color: rgb(196, 190, 190);
  border-radius: 8px;
  padding: 20px;
  width: 870%;
  font-size: 16px;
  border: none;
}

.entrar {
  text-align: center;
  margin-top: 20px;
}

.entrar input[type="submit"] {
  padding: 10px 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.registro {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
  text-align: center;
}

.registro a {
  color: green;
  text-decoration: none;
}


.imagem {
  width: 50%;
  background-image: url(imag/imagem1.png);
  background-size: cover;
  background-position: center;
}